.offcanvas {
    transition: transform 0.8s ease, opacity 0.8s ease !important;
    background-color: var()
}

.hamburger {
    display: block;
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .hamburger-line {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .hamburger-line:nth-child(1) {
    top: 18px;
  }
  
  .hamburger-line:nth-child(2) {
    top: 24px;
  }
  
  .hamburger-line:nth-child(3) {
    top: 30px;
  }
  
  .hamburger.active .hamburger-line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
  .hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .hamburger-line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }