@import url("../common/variables.css");

body {
  font-family: var(--sans-serif);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 112px;
}

h2 {
  font-size: 100px;
}
h3 {
  font-size: 80px;
}

h4 {
  font-size: 72px;
}

h5 {
  font-size: 48px;
}

h6 {
  font-size: 24px;
}
p {
  font-size: 18px;
}

/* Cursor class */
.cursor-pointer {
  cursor: pointer;
}
/* Button class */
.custom-button {
  display: inline-block;
  font-family: var(--mont-light);
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  position: relative;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: 8px 32px;
  border-radius: 24px;
  margin: 0;
  border: 0;
}
.custom-button:hover {
  background-color: white !important;
  color: black;
}
/* Background-color classess */
.main-background {
  background-image: var(--background-color);
}
.background-black {
  background-color: var(--black-color);
}
.background-white {
  background-color: var(--white-color);
}
.background-red {
  background-color: var(--red-color);
}
.background-green {
  background-color: var(--green-color);
}
.background-skyblue {
  background-color: var(--skyblue-color);
}
.background-pink {
  background-color: var(--pink-color);
}
/* Colors classess */
.red {
  color: var(--red-color);
}
.black {
  color: var(--black-color);
}
.white {
  color: var(--white-color);
}
.green {
  color: var(--green-color);
}
.skyblue {
  color: var(--skyblue-color);
}
.pink {
  color: var(--pink-color);
}
/* Title classess */
.title {
  font-family: var(--mont-font);
  font-size: 95px;
  font-weight: 800;
}
.subtitle {
  font-family: var(--mont-font);
  font-size: 72px;
  font-weight: 800;
}
.paragraph {
  font-family: var(--serif-font);
  font-size: 20px;
}
.back-bar {
  position: relative;
  z-index: 2;
}
.back-bar::after {
  left: -2.5%;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 10%;
  height: 40%;
  width: 104%;
  background: black;
}

/* For Mini Laptop */
@media screen and (max-width: 1280px) and (min-width: 1025px) {
}
/* For Ipad & Ipad Pro */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
  h4 {
    font-size: 56px;
  }
  p {
    font-size: 16px;
  }
  .title {
    font-size: 64px;
  }
  .subtitle {
    font-size: 56px;
  }
  .paragraph {
    font-size: 16px;
  }
}

/* For Mobile Screens */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  h4 {
    font-size: 26px;
  }
  p {
    font-size: 14px;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 26px;
  }
  .paragraph {
    font-size: 14px;
  }
}
