@import url("../common/variables.css");
@import url("../common/fonts.css");
@import url("../common/header.css");
@import url("../common/global-styles.css");
@import url("../common/drawer.css");
@import url("../common/footer.css");


/* Section 1 styles */
.main-title {
    font-size: 64px;
    font-family: var(--mont);
    font-weight: 800;
}

.sub-title {
    font-size: 24px;
    font-family: var(--sans-sarif);
    font-weight: 500 !important;
}

.info-text {
    font-size: 18px;
    font-family: var(--sans-sarif);
}

.info-box-title {
    font-size: 50px;
    font-family: var(--mont);
    font-weight: 800;
}

.info-box-main-container {
    position: absolute;
    bottom: -70px;
    right: 0;

}

.blank-section {
    height: 70px;
}

/* Image section CSS */
.image-section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* blank-black styles */
.blank-black-section {
    height: 70px;
    width: 100%;
    background-color: var(--black-color);
}

.form-sidebar {
    background-color: var(--red-color);
    width: 90%;
    height: 100%;
}

.divider-line {
    border-top: 2px solid var(--black-color) !important
}

/* Faq Section */
.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-item {
    border: none;
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: rgba(0,0,0,.125) !important;
}

.faq-title {
    font-size: 22px;
    font-family: var(--mont);
    font-weight: 800;
}

.accordion-button:hover {
    color: var(--red-color) !important;
}