@import url("../common/variables.css");
@import url("../common/fonts.css");
@import url("../common/header.css");
@import url("../common/global-styles.css");
@import url("../common/drawer.css");
@import url("../common/footer.css");

/* label {
  font-size: 100px;
  padding-top: 0px !important;
  color: var(--white-color);
  line-height: 0;
  overflow: unset !important;
}

.form-floating > input,
.form-floating > label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: calc(50% - 0.5em);
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}
.form-floating > .form-control:focus {
  background: transparent;
}
.form-floating > input {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 4px solid #ccc;
  color: var(--white-color) !important;
}

.form-floating > input:focus {
  border-color: white;
  box-shadow: none;
}

.form-floating > input:not(:placeholder-shown) ~ label,
.form-floating > input:focus ~ label {
  top: 0;
  font-size: 0.875rem;
  color: none;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: unset;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  color: white;
}

.form-floating > input:focus:not(:placeholder-shown) ~ label {
  color: #fff;
  font-size: 20px;
} */

/* .input-field {
  position: relative;
  margin-bottom: 20px;
}

input {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 100%;
}

label {
  position: absolute;
  top: 16px;
  left: 10px;
  color: #999;
  font-size: 16px;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 6px;
  font-size: 12px;
  color: #333;
} */

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.animated-label {
  font-size: 64px !important;
  font-family: var(--mont);
  color: var(--white-color) !important;
}

.contact-input {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 100%;
  background: transparent;
  outline: none !important;
  color: var(--white-color);
  font-family: var(--mont);
  font-size: 64px;
}

label {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 10px;
  color: #999;
  font-size: 16px !important;
  transition: all 0.2s ease-out;
}

.contact-input:focus + label {
  top: 0%;
  font-size: 30px !important;
  font-family: var(--mont);
  color: var(--white-color);
}

.label:focus + label {
  top: 0%;
  font-size: 30px;
  font-family: var(--mont);
  color: var(--white-color);
}

.contact-input:focus + label {
  top: 0%;
  font-size: 30px;
  font-family: var(--mont);
  color: var(--white-color);
}

.animated-label.filled {
  top: 0%;
  font-size: 30px !important;
  font-family: var(--mont);
  color: var(--white-color);
}




/* Textarea styling */

.text-label {
  position: absolute;
  top: 20%;
  transform: translateY(-30%);
  left: 10px;
  color: #999;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.contact-text-input {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 100%;
  background: transparent;
  outline: none !important;
  color: var(--white-color);
  font-family: var(--mont);
  font-size: 64px;
}

.contact-text-input:focus + label {
  top: 0%;
  font-size: 30px !important;
  font-family: var(--mont);
  color: var(--white-color);
}

.label:focus + label {
  top: 0%;
  font-size: 30px;
  font-family: var(--mont);
  color: var(--white-color);
}