@import url("../common/variables.css");
@import url("../common/fonts.css");
@import url("../common/header.css");
@import url("../common/global-styles.css");
@import url("../common/drawer.css");

/* Hero Section */

.video-controller {
  position: absolute;
  bottom: 60px;
  right: 50px;
  color: #fff;
}

.video-icon {
  height: 35px;
  width: 35px;
}

.mute {
  background: url(../../assets/icons/mute.png);
  background-size: cover;
  background-position: center;
}

.volume {
  background: url(../../assets/icons/volume.png);
  background-size: cover;
  background-position: center;
}

.pause {
  background: url(../../assets/icons/pause-button.png);
  background-size: cover;
  background-position: center;
}

.play {
  background: url(../../assets/icons/play-button.png);
  background-size: cover;
  background-position: center;
}

.gradient-background-color {
  background-color: aqua;
}
.gradient-background-color h1 {
  font-family: var(--mont-font);
  font-size: 104px;
  font-weight: 800;
  color: black;
  line-height: 109.2px;
}

.gradient-background-color p {
  font-family: var(--serif-font);
  font-size: 20px;
  line-height: 24px;
}
